.one_fourth_width {
    width: 25%;
}

.one_third_width{
    width: 33.3%;
}


.two_third_width {
    width: 66%;
}


.three_fourth_width {
    width: 74%;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.clear_both {
    clear: both;
}

.center_image{
    margin-left: auto;
    margin-right: auto;
    witdh: 5%;
}
